
# Npm / yarn files
node_modules/

# Save files
database.*.db

# Log files
*.log

# Tmp files
*~
\#*

# Maven
target/

# IntelliJ
.idea/
*.iml

# eclipse & GitPod
.classpath
bin/
.project
.settings/
.factorypath
/.metadata/
