.body {
    -fx-background-color: white;
    -fx-pref-width: 900;
    -fx-pref-height: 600;
}

.navbar {
    -fx-background-color: #344966;
    -fx-spacing: 20;
    -fx-padding: 10;
}

.navBarSelected {
    -fx-background-color: #FF8C42;
}

.navBarUnderLine {
    -fx-min-height: 2;
    -fx-max-height: 2;
}

.contentBox {
    -fx-padding: 30 40 20 40;
}

TextField {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-radius: 2;
}

Button {
    -fx-pref-width: 95;
    -fx-pref-height: 20;
    -fx-background-color: #8AC4FF;
}

.buttonNew {
    -fx-background-color: #8AC4FF;
}

.separator {
    -fx-background-color: lightgray;
    -fx-min-height: 1;
    -fx-max-height: 1;
}

.progressBar {
    -fx-min-height: 5;
    -fx-max-height: 5;
    -fx-background-color:  #11BA52;
}

/* Specific to FXML files */
.courseList {
    -fx-max-width: 900;
}

.login {
    -fx-max-width: 500;
    -fx-padding: 70 0 0 0;
    -fx-spacing: 20;
}